@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  font-family: "Roboto";
  scroll-behavior: smooth;
  background-color: rgb(25,25,25);

}
.body-container{
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 90vw;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s;
  gap:5px
}
.left-container{
  max-width: 300px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  color:rgb(250,250,250, 0.5);
  flex-grow: 1;
  overflow: hidden;
  transition: all 0.5s;
   opacity: 0.8;
  font-size: 1rem;
  filter: blur(0.5px);
  border-radius: 5px;
}
.left-container:hover{
  max-width:350px;
  opacity: 1;
  filter: blur(0px);
}
.left-inside-container{
  width:100%;
  padding-top: 5%;
  text-align: center;
  min-width: 300px;
  /* padding-left: 25%; */
}
.expand-left{
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.01);
  color:rgb(250,250,250, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  transform: rotate(0deg);
  transition: all 0.5s;
  opacity: 0.5;
  width: 20px;
}
.expand-left:hover{
  opacity: 1;
  width: 25px;
  border:1px solid rgb(100, 100, 100,0.1);
  
}
.shrink-left{
  transform: rotate(180deg) !important;
}

.right-container{
  padding: 1%;
  flex-grow: 3;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  color:rgb(250,250,250, 0.5);
  border-radius: 5px;
  width: 40%;
}
.small-width{
  max-width: 0px !important;
  /* opacity: 0 !important; */
}
.right-header{
  text-align: center;
}
.left-login-container{
  margin-top: 7%;
}
#submit-id {
    border: none;
    width: 23%;
    background-color: rgb(0,0,0,0);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

    border-radius: 10px;
    transition: all 0.5s;
    color:rgb(250,250,250, 0.5);
    padding:1%;
    cursor:default;
    margin-bottom: 3%;
    font-size: 0.8rem;
  }
#submit-id span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#submit-id:hover span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#submit-id:hover span {
    padding-right: 25px;
}
#submit-id:hover span:after {
    opacity: 1;
    right: 0;
}